{% extends 'app_base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="bg-gray-600 text-gray-800 py-12">
    <div class="max-w-3xl mx-auto p-6 bg-slate-200 rounded-lg shadow-md">
        <h2 class="text-3xl font-bold mb-4 text-center text-blue-600">About</h2>
        <p class="text-lg leading-relaxed mb-4">
            Welcome to our medications Recommendation System!
        </p>
        <p class="text-lg leading-relaxed mb-4">
            I am a dedicated computer science and engineering student with a passion for leveraging technology to improve healthcare. This platform is the result of my extensive study and research in machine learning and its applications in medical recommendations.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            Our Medicine Recommendation System uses a sophisticated Random Forest Classifier, a powerful machine learning algorithm, to provide reliable and accurate medicine suggestions based on user input. The model has been meticulously trained and tested to ensure high performance and accuracy, helping users to make informed decisions about their healthcare needs.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            While I strive to provide the best possible recommendations, it's important to remember that AI can make mistakes. Our system should be used as a supplementary tool and not as a replacement for professional medical advice. Always consult with a healthcare professional before making any decisions regarding your health.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            I am committed to maintaining the highest standards of quality and integrity in this project. I continuously update the system with the latest medical guidelines and data to ensure that the recommendations are as current and relevant as possible.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            Thank you for trusting our platform. Your health and well-being are our top priorities. If you have any questions or need further assistance, please do not hesitate to reach out.
        </p>
        <p class="text-lg leading-relaxed text-right font-semibold">
            Sincerely,<br>
            Sanju De
        </p>
    </div>
</div>
{% endblock %}
